<%= render 'data_bar' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= DataList.human_attribute_name(:title) %></th>
      <th><%= DataList.human_attribute_name(:comment) %></th>
      <th><%= DataList.human_attribute_name(:data_table) %></th>
      <th colspan="2">Export</th>
      <th><%= DataList.human_attribute_name(:parameters) %></th>
      <th>
        <%= link_to new_data_list_path(type: params[:type]), remote: true, class: 'ui mini teal button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @data_lists.each do |data_list| %>
    <% if !defined?(rails_role_user) || rails_role_user.has_role?('datum/admin/data_lists', 'read', data_list.id) %>
    <tr>
      <td><%= data_list.title %></td>
      <td><%= data_list.comment %></td>
      <td><%= data_list.data_table %></td>
      <td><%= data_list.export_excel %></td>
      <td><%= data_list.export_pdf %></td>
      <td><%= simple_format_hash(data_list.parameters) %></td>
      <td>
        <%= link_to data_list_table_lists_path(data_list), aria: { label: t('.show') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to rebuild_data_list_path(data_list), method: :patch, aria: { label: t('.rebuild'), confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-recycle"></i>
        <% end %>
        <%= link_to edit_data_list_path(data_list), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to data_list_path(data_list), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
