<% content_for :breadcrumb do %>
<div class="ui segment breadcrumb">
  <%= link_to 'Back', data_lists_path, class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">New</div>
</div>
<% end %>

<div class="ui segment">
  <%= form_with model: @data_list, scope: :data_list, url: data_lists_path, local: true do |f| %>
    <%= f.select :type, options_for_select(DataList.options_i18n(:type), @data_list.type) %>
    <%= f.text_field :title %>
    <%= f.text_area :comment %>
    <%= f.text_field :data_table %>
    <%= f.text_field :export_excel %>
    <%= f.text_field :export_pdf %>
    <%= f.submit %>
  <% end %>
</div>
