<div class="ui segment breadcrumb">
  <%= link_to 'Back', data_records_path, class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">New</div>
</div>

<div class="ui segment">
  <%= form_with model: @data_record, scope: :data_record, url: data_records_path, local: true do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :comment %>
    <%= f.text_field :data_table %>
    <%= f.text_field :export_excel %>
    <%= f.text_field :export_pdf %>
    <%= f.submit %>
  <% end %>
</div>