<table class="ui very basic striped table">
  <thead>
    <tr>
      <th><%= form_with url: columns_data_list_record_list_path(@data_list), method: :patch, id: 'edit_record_list' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @record_list.columns.each do |k, v| %>

    <% if TheData.config.mapping[@data_list.columns[k.to_sym].to_sym][:input] == 'array' %>
      <tr>
        <td class="right aligned"><%= k.to_s.titleize %></td>
        <td class="ui small input">
          <% v.each_with_index do |_value, _index| %>
            <% _value.each do |_k, _v| %>
              <p><%= text_field_tag "columns[#{k}][][#{_k}]", _v, form: 'edit_record_list' %></p>
            <% end %>
            <% end %>
        </td>
      </tr>
    <% else %>
      <tr>
        <td class="right aligned"><%= k.to_s.titleize %>:</td>
        <td class="ui small input">
          <%= text_field_tag :"columns[#{k}]", v, as: @data_list.columns[k.to_sym], form: 'edit_record_list' %>
        </td>
      </tr>
    <% end %>

  <% end %>
  <tr>
    <td></td>
    <td>
      <%= submit_tag 'Save', form: 'edit_record_list', class: 'ui mina blue button' %>
      <%= link_to 'Cancel', data_list_record_list_path(@record_list.data_list_id, @record_list.id), remote: true, class: 'ui mina grey button' %>
    </td>
  </tr>
  </tbody>

</table>
