<div>

  <div class="ui segment breadcrumb">
    <%= link_to 'Back', data_list_record_lists_path(@data_list), class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">Edit</div>
  </div>

  <div class="ui segment">
    <%= default_form_with url: columns_data_list_record_list_path(@data_list), method: :patch do |f| %>
      <% @record_list.columns.each do |k, v| %>
        <% if TheData.config.mapping[@data_list.columns[k.to_sym].to_sym][:input] == 'array' %>
          <div class="inline fields">
            <label class="six wide field"><%= k.to_s.titleize %>:</label>
            <% v.each_with_index do |_value, _index| %>
              <% _value.each do |_k, _v| %>
                <%= text_field_tag "columns[#{k}][][#{_k}]", _v %>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <div class="inline fields">
            <label class="six wide field"><%= k.to_s.titleize %>:</label>
            <div class="six wide field">
              <%= text_field_tag :"columns[#{k}]", v, as: @data_list.columns[k.to_sym] %>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= f.submit %>
    <% end %>
  </div>

</div>