<div>

  <div class="ui segment breadcrumb">
    <%= link_to 'Back', data_list_record_lists_path(@data_list), class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">Edit</div>
  </div>

  <div class="ui segment">
    <%= default_form_with model: @record_list, url: columns_data_list_record_list_path(@data_list) do |f| %>
      <% @record_list.columns.each do |k, v| %>
        <div class="inline fields">
          <label class="six wide field"><%= k.to_s.titleize %>:</label>
          <div class="six wide field">
            <%= text_field_tag :"record_list[columns][#{k}]", v, type: TheData.config.mapping[@data_list.columns[k.to_sym].to_sym][:input] %>
          </div>
        </div>
      <% end %>
      <%= f.submit %>
    <% end %>
  </div>

</div>