<div class="three wide column">
  <%= render 'admin/base/nav_users' %>
</div>

<div class="thirteen wide column">

  <div class="ui breadcrumb">
    <%= link_to 'Back', data_list_table_lists_path(@data_list), class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">Edit</div>
  </div>

  <div class="ui segment">
    <%= default_form_for [@data_list, @table_list] do |f| %>
      <% @table_list.parameters.each do |k, v| %>
        <div class="inline field">
          <label class="six wide field"><%= k.to_s.titleize %>:</label>
          <%= text_field_tag :"table_list[parameters][#{k}]", v, class: 'nine wide field', type: TableList::TYPE[@data_list.parameters[k].to_sym][:input] %>
        </div>
      <% end %>
      <%= f.submit %>
    <% end %>
  </div>

</div>