<div>

  <ul class="ui segment breadcrumb">
    <li class="section"><%= link_to 'Data List', data_lists_path %></li>
    <li class="divider">/</li>
    <li class="section"><%= link_to 'Table List', data_list_table_lists_path(@data_list) %></li>
  </ul>

  <div class="ui top attached menu borderless">
    <div class="item"><strong>Preview</strong></div>
  </div>

  <div class="ui top attached menu borderless">
    <div class="item"><strong>TableID:<%= @table_list.id %></strong></div>
    <div class="right menu">
      <%= link_to 'download Csv', data_list_table_list_path(@data_list, @table_list, format: 'csv'), class: 'item ui button' %>
      <%= link_to 'download Xlsx', data_list_table_list_path(@data_list, @table_list, format: 'xlsx'), class: 'item ui blue button' %>
    </div>
  </div>

  <table class="ui celled red bottom attached fixed table">
    <thead>
    <tr>
      <% @table_list.csv_headers.each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @table_items.limit(100).each do |item| %>
      <tr>
        <% item.csv_fields.each do |field| %>
          <td><%= field %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>

    <tfoot>
    <tr>
      <% @table_list.csv_footers.each do |footer| %>
        <th><%= footer %></th>
      <% end %>
    </tr>
    </tfoot>
  </table>

  <%= paginate @table_items %>

</div>
