<div class="three wide column">
  <%= render 'admin/base/nav_users' %>
</div>

<div class="thirteen wide column">

  <ul class="ui breadcrumb">
    <li class="section"><%= link_to 'back', data_lists_path %></li>
    <li class="divider">/</li>
    <li class="section"><%= link_to 'Report List', data_list_path(@data_list) %></li>
  </ul>


  <div class="ui top attached menu borderless">
    <div class="item"><strong>Table List</strong></div>
  </div>

  <div class="ui segment top attached">
    <%= link_to '新建', new_data_list_path, class: 'ui teal button' %>
  </div>

  <div class="ui segment">

    <h1 class="ui header">Preview</h1>
    <div class="ui divider"></div>

    <% @table_lists.each do |table_list| %>
      <%= render partial: 'table', locals: { table_list: table_list } %>
    <% end %>

  </div>

  <div class="ui divider"></div>

</div>
