<td><%= model.id %></td>
<td><%= simple_format(model.parameters) %></td>
<td><%= model.headers.join(',') %></td>
<td><%= model.timestamp %></td>
<td id="done_<%= model.id %>">
  <% if model.done %>
    <i class="fa-solid fa-check has-text-success"></i>
  <% else %>
    <i class="fa-solid fa-times has-text-danger"></i>
  <% end %>
</td>
