<th><%= Datum::DataList.human_attribute_name(:id) %></th>
<th>
  <p><%= Datum::DataList.human_attribute_name(:title) %></p>
  <p><%= Datum::DataList.human_attribute_name(:comment) %></p>
</th>
<th><%= Datum::DataList.human_attribute_name(:data_table) %></th>
<th>
  <p><%= Datum::DataList.human_attribute_name(:export_excel) %></p>
  <p><%= Datum::DataList.human_attribute_name(:export_pdf) %></p>
</th>
<th>Parameters</th>
<th>Columns</th>
<th></th>
