<%= form_with model: @data_record, scope: :data_record, url: data_record_path(@data_record), locale: true do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <% @data_record.form_parameters.each_with_index do |parameter, index| %>
    <%= f.fields :parameters, model: parameter, index: index, can: {wrapper_all: false, label: false, placeholder: true}, css: {wrapper_input: 'two wide field'} do |pf| %>
      <div class="inline fields" id="parameters_<%= index %>">
        <%= f.label :form_parameters %>
        <%= pf.text_field :key, readonly: true %>
        <%= pf.select :value, options_for_select(RailsData.config.mapping.keys, parameter.value), class: 'ui dropdown selection' %>
        <div class="field">
          <%= link_to add_item_data_records_path(index: index + 1), remote: true do %>
            <i class="plus circle icon"></i>
          <% end %>
          <%= link_to remove_item_data_records_path(index: index), remote: true do %>
            <i class="minus circle icon"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= f.submit %>
<% end %>
