<div class="ui segment breadcrumb">
  <%= link_to 'Back', data_record_record_lists_path(@data_record), class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">Edit</div>
</div>

<div class="ui segment">
  <%= default_form_with model: @record_list, url: data_record_record_list_path(@data_record) do |f| %>
    <% @record_list.parameters.each do |k, v| %>
      <div class="inline fields">
        <label class="six wide field"><%= k.to_s.titleize %>:</label>
        <div class="six wide field">
          <%= text_field_tag :"record_list[parameters][#{k}]", v, as: @data_record.parameters[k].to_sym %>
        </div>
      </div>
    <% end %>
    <%= f.submit %>
  <% end %>
</div>