<%= form_with model: @table_list, url: { action: 'create_import' } do |f| %>
  <%= f.file_field :file %>
  <%= f.submit %>
<% end %>

<%= link_to({ controller: 'datum/panel/data_imports', action: 'template', id: @table_list.data_list_id, format: 'xlsx' }, class: 'button is-small is-light') do %>
  <i class="fa-solid fa-file-excel has-text-primary"></i>
  <span class="pl-1"><%= t('datum.panel.data_imports.template.title') %></span>
<% end %>
