<div class="inline fields" id="parameters_<%= params[:index] %>">
  <label class="six wide field"></label>
  <%= f.fields :parameters, index: params[:index], can: { wrap_all: false, label: false, placeholder: true }, css: { wrap_input: 'two wide field' } do |pf| %>
    <%= pf.text_field :key %>
    <%= pf.select :value, options_for_select(DefaultForm.config.mapping.keys), class: 'ui dropdown selection' %>
    <div class="field">
      <%= link_to add_item_data_lists_path(index: params[:index].to_i + 1) do %>
        <i class="plus circle icon"></i>
      <% end %>
      <%= link_to remove_item_data_lists_path(index: params[:index].to_i) do %>
        <i class="minus circle icon"></i>
      <% end %>
    </div>
  <% end %>
</div>
