<div class="three wide column">
  <%= render 'admin/base/nav_users' %>
</div>

<div class="thirteen wide column">

  <div class="ui breadcrumb">
    <%= link_to 'Back', data_lists_path, class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">Edit</div>
  </div>

  <div class="ui segment">
    <%= default_form_for @data_list do |f| %>
      <%= f.text_field :title, label: 'Title' %>
      <%= f.text_area :comment, label: 'Comment' %>
      <%= f.text_field :data_table, label: 'DataTable' %>
      <% @data_list.parameters.each do |k, _| %>
        <div class="inline field">
          <label class="six wide field"><%= k.to_s.titleize %>:</label>
          <%= select_tag :"data_list[parameters][#{k}]", options_from_collection_for_select(Conversion::TYPE.keys, 'to_s', 'to_s'), class: 'nine wide field ui dropdown selection' %>
        </div>
      <% end %>
      <%= f.submit %>
    <% end %>
  </div>

</div>