<div>

  <div class="ui segment breadcrumb">
    <%= link_to 'Back', data_lists_path, class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">Edit</div>
  </div>

  <div class="ui segment">
    <%= default_form_with model: @data_list, url: data_list_path(@data_list), locale: true do |f| %>
      <%= f.text_field :title, label: 'Title' %>
      <%= f.text_area :comment, label: 'Comment' %>
      <%= f.text_field :data_table, label: 'DataTable' %>
      <% @data_list.parameters.each do |k, v| %>
        <div class="inline fields">
          <label class="six wide field"><%= k.to_s.titleize %>:</label>
          <%= select_tag :"data_list[parameters][#{k}]", options_for_select(TableList::TYPE.keys, v), class: 'six wide field ui dropdown selection' %>
        </div>
      <% end %>
      <%= f.submit %>
    <% end %>
  </div>

</div>