<div>

  <div class="ui segment breadcrumb">
    <%= link_to 'Back', data_lists_path, class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">Edit</div>
  </div>

  <div class="ui segment">
    <%= form_with model: @data_list, scope: :data_list, url: data_list_path(@data_list), locale: true do |f| %>
      <%= f.text_field :title, label: 'Title' %>
      <%= f.text_area :comment, label: 'Comment' %>
      <%= f.text_field :data_table, label: 'DataTable' %>
      <%= f.text_field :export_excel %>
      <%= f.text_field :export_pdf %>
      <% @data_list.parameters.each do |k, v| %>
        <div class="inline fields" id="purchase_purchase_items_0">
          <label class="six wide field">Parameters:</label>
          <%= f.text_field :parameters, value: k.to_s.titleize, on: { wrapper_all: false, label: false }, css: { wrapper_input: 'two wide field' } %>
          <div class="four wide field">
            <%= select_tag :"data_list[parameters][#{k}]", options_for_select(TheData.config.mapping.keys, v), class: 'ui dropdown selection' %>
          </div>
          <div class="field">
            <%= link_to add_item_data_lists_path(index: 1), remote: true do %>
              <i class="plus circle icon"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= f.submit %>
    <% end %>
  </div>

</div>