<%= form_with theme: 'modal', model: @data_import, scope: :data_list, url: { action: 'update' } do |f| %>
  <%= render 'modal_header' %>
  <section class="modal-card-body">
    <%= render partial: 'form', locals: { f: f } %>
    <%= render partial: 'com/extra/item', locals: { model: @data_import, f: f } %>
  </section>
  <footer class="modal-card-foot">
    <%= f.submit %>
  </footer>
<% end %>
