<ul class="ui segment breadcrumb">
  <li class="section"><%= link_to 'back', data_lists_path(type: @data_list.type) %></li>
  <li class="divider">/</li>
  <li class="section">Table lists</li>
</ul>

<div class="ui top attached menu borderless">
  <div class="item"><strong>Table List</strong></div>
</div>

<div class="ui segment top attached">
  <% if @data_list.type == 'DataImport' %>
    <%= link_to 'Import', import_data_list_table_lists_path(@data_list), class: 'ui blue button', remote: true %>
  <% else %>
    <%= link_to 'New', new_data_list_table_list_path(@data_list), class: 'ui teal button' %>
  <% end %>
</div>

<table class="ui bottom attached table">
  <thead>
  <tr>
    <th class="one wide">ID</th>
    <th class="two wide">Parameters</th>
    <th class="nine wide">Headers</th>
    <th class="one wide">Done</th>
    <th class="three wide"></th>
  </tr>
  </thead>

  <tbody>
  <% @table_lists.each do |table_list| %>
    <tr>
      <td><%= table_list.id %></td>
      <td><%= simple_format_hash(table_list.parameters) %></td>
      <td><%= table_list.headers.to_csv %></td>
      <td id="done_<%= table_list.id %>">
        <% if table_list.done %>
          <i class="green checkmark icon"></i>
        <% else %>
          <i class="grey remove icon"></i>
        <% end %>
      </td>
      <td class="ui labels">
        <%= link_to 'Run', run_data_list_table_list_path(@data_list, table_list), method: :patch, remote: true, data: { confirm: 'Are you sure?' }, class: 'ui blue label' %>
        <%= link_to 'Preview', data_list_table_list_path(@data_list, table_list), class: 'ui blue label' %>
        <%= link_to 'Edit', edit_data_list_table_list_path(@data_list, table_list), class: 'ui yellow label' %>
        <%= link_to 'Destroy', data_list_table_list_path(@data_list, table_list), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>