<% content_for :breadcrumb do %>
<div class="ui segment breadcrumb">
  <%= link_to 'back', data_lists_path(type: @data_list.type), class: 'section' %>
  <div class="divider">/</div>
  <div class="section">Table lists</div>
</div>
<% end %>

<table class="ui table">
  <thead>
    <tr>
      <th class="one wide">ID</th>
      <th class="two wide">Parameters</th>
      <th class="eight wide">Headers</th>
      <th class="one wide"><%= TableList.human_attribute_name(:timestamp) %></th>
      <th class="one wide">Done</th>
      <th class="three wide">
        <% if @data_list.type == 'DataImport' %>
          <%= link_to 'Import', import_data_list_table_lists_path(@data_list), class: 'ui blue button', remote: true %>
        <% else %>
          <%= link_to 'New', new_data_list_table_list_path(@data_list), class: 'ui teal button' %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @table_lists.each do |table_list| %>
    <tr>
      <td><%= table_list.id %></td>
      <td><%= simple_format_hash(table_list.parameters) %></td>
      <td><%= table_list.headers %></td>
      <td><%= table_list.timestamp %></td>
      <td id="done_<%= table_list.id %>">
        <% if table_list.done %>
          <i class="fas fa-check"></i>
        <% else %>
          <i class="fas fa-times"></i>
        <% end %>
      </td>
      <td>
        <%= link_to run_data_list_table_list_path(@data_list, table_list), method: :patch, remote: true, data: { confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-caret-right"></i>
        <% end %>
        <%= link_to xlsx_data_list_table_list_path(@data_list, table_list, format: 'xlsx'), data: { tooltip: t('.export') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-file-excel"></i>
        <% end %>
        <%= link_to data_list_table_list_path(@data_list, table_list), data: { tooltip: t('.show') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_data_list_table_list_path(@data_list, table_list), data: { tooltip: t('.edit') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to data_list_table_list_path(@data_list, table_list), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
