<% content_for :breadcrumb do %>
<div class="ui segment breadcrumb">
  <%= link_to t('datum.admin.data_lists.index.title'), data_lists_path(type: @data_list.type), class: 'section' %>
  <i class="fas fa-angle-right divider"></i>
  <div class="section"><%= t('.title') %></div>
</div>
<% end %>

<table class="ui table">
  <thead>
    <tr>
      <th class="one wide"><%= TableList.human_attribute_name(:id) %></th>
      <th class="two wide"><%= TableList.human_attribute_name(:parameters) %></th>
      <th class="eight wide"><%= TableList.human_attribute_name(:headers) %></th>
      <th class="one wide"><%= TableList.human_attribute_name(:timestamp) %></th>
      <th class="one wide"><%= TableList.human_attribute_name(:done) %></th>
      <th class="three wide">
        <% if @data_list.type == 'DataImport' %>
          <%= link_to 'Import', import_data_list_table_lists_path(@data_list), remote: true, class: 'ui blue button' %>
        <% else %>
          <%= link_to new_data_list_table_list_path(@data_list), remote: true, class: 'button is-link is-small' do %>
            <i class="fas fa-plus"></i><%= t('.new') %>
          <% end %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @table_lists.each do |table_list| %>
    <tr>
      <td><%= table_list.id %></td>
      <td><%= simple_format(table_list.parameters) %></td>
      <td><%= table_list.headers.join(',') %></td>
      <td><%= table_list.timestamp %></td>
      <td id="done_<%= table_list.id %>">
        <% if table_list.done %>
          <i class="fas fa-check"></i>
        <% else %>
          <i class="fas fa-times"></i>
        <% end %>
      </td>
      <td>
        <%= link_to run_data_list_table_list_path(@data_list, table_list), method: :patch, remote: true, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-caret-right"></i>
        <% end %>
        <%= link_to xlsx_data_list_table_list_path(@data_list, table_list, format: 'xlsx'), aria: { label: t('.export') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-file-excel"></i>
        <% end %>
        <%= link_to data_list_table_list_path(@data_list, table_list), aria: { label: t('.show') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_data_list_table_list_path(@data_list, table_list), aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to data_list_table_list_path(@data_list, table_list), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
