<% content_for :breadcrumb do %>
<div class="ui segment breadcrumb">
  <%= link_to 'Back', data_list_table_lists_path(@data_list), class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">New</div>
</div>
<% end %>

<div class="ui segment">
  <%= form_with model: @table_list, url: data_list_table_lists_path, local: true do |f| %>
    <% @data_list.parameters.each do |k, v| %>
      <div class="inline fields">
        <label class="six wide field"><%= k.to_s.titleize %></label>
        <div class="six wide field">
          <%= text_field_tag :"table_list[parameters][#{k}]", nil, type: RailsData.config.mapping[v.to_sym][:input] %>
        </div>
      </div>
    <% end %>
    <%= f.submit %>
  <% end %>
</div>
