<table class="table">
  <thead>
    <tr>
    <% @table_list.headers.each do |header| %>
      <th>
        <%= header %>
        <%= link_to({ action: 'chart', id: @table_list.id, x_field: @table_list.x_field, column: header }) do %>
          <i class="fa-light fa-chart-line"></i>
        <% end %>
      </th>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <% @table_items.limit(100).each do |item| %>
    <tr>
    <% item.fields.each do |field| %>
      <td><pre><%= field %></pre></td>
    <% end %>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
    <% @table_list.footers.each do |footer| %>
      <th><%= footer %></th>
    <% end %>
    </tr>
  </tfoot>
</table>

<%= paginate @table_items %>
