<td><%= model.id %></td>
<td><%= simple_format(model.parameters) %></td>
<td><%= model.headers.join(',') %></td>
<td><%= model.timestamp %></td>
<td id="done_<%= model.id %>">
  <% if model.done %>
    <i class="fa-regular fa-check"></i>
  <% else %>
    <i class="fa-regular fa-times"></i>
  <% end %>
</td>
