<ul>
  <li><%= link_to 'back', data_records_path %></li>
  <li class="is-active">Table lists</li>
</ul>

<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th class="one wide">ID</th>
      <th class="two wide">Parameters</th>
      <th>Columns</th>
      <th>Export</th>
      <th class="three wide">
        <%= link_to new_data_record_record_list_path(@data_record), remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @record_lists.each do |record_list| %>
    <tr>
      <td><%= record_list.id %></td>
      <td><%= simple_format_hash(record_list.parameters) %></td>
      <td><%= simple_format_hash(record_list.columns) %></td>
      <td class="ui labels">
        <%= link_to 'pdf', data_record_record_list_path(@data_record, record_list, format: 'pdf'), target: '_blank', class: 'ui label' %>
      </td>
      <td class="ui labels">
        <%= link_to '运行', run_data_record_record_list_path(@data_record, record_list), method: :patch, remote: true, data: { confirm: 'Are you sure?' }, class: 'ui blue label' %>
        <%= link_to '预览', find_data_record_record_lists_path(@data_record.data_table, record_list.parameters), remote: true, class: 'ui blue label' %>
        <%= link_to '修改', columns_data_record_record_list_path(@data_record, record_list), remote: true, class: 'ui blue label' %>
        <%= link_to 'edit', edit_data_record_record_list_path(@data_record, record_list), class: 'ui yellow label' %>
        <%= link_to 'destroy', data_record_record_list_path(@data_record, record_list), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @record_lists %>
