<div class="menu ex-accordion is-active">
  <div class="menu-label">
    <div>
      <i class="fa-solid fa-fw fa-chart-bar"></i>
      <span><%= t('datum.panel.title') %></span>
    </div>
    <%= link_to({ controller: 'datum/panel/home' }, aria: { label: '设置' }) do %>
      <i class="fa-solid fa-cog"></i>
    <% end %>
  </div>
  <div class="menu-list">
    <%= link_to t('datum.panel.data_exports.index.title'), { controller: 'datum/panel/data_exports' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'data_exports', active: 'is-active') %>
    <%= link_to t('datum.panel.data_imports.index.title'), { controller: 'datum/panel/data_imports' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'data_imports', active: 'is-active') %>
    <%= link_to t('datum.panel.data_records.index.title'), { controller: 'datum/panel/data_records' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'data_records', active: 'is-active') %>
  </div>
</div>
