<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @table_lists.each do |table_list| %>
    <tr>
      <td><%= table_list.id %></td>
      <td><%= link_to 'Download Csv', report_list_table_list_path(@report_list, table_list, format: 'csv') %></td>
      <td><%= link_to 'Download Pdf', report_list_table_list_path(@report_list, table_list, format: 'pdf') %></td>
      <td><%= link_to 'Download row Pdf', row_report_list_table_list_path(@report_list, table_list, format: 'pdf') %></td>
      <td><%= link_to 'destroy', report_list_table_list_path(@report_list, table_list), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>


